@charset "utf-8";

/*PC*/
@media all and (min-width:1000px) {
    nav{
        width: 25%;
    }

    #contents{
        width: 75%;
    }
}

/*スマートフォン*/
@media all and (max-width:1000px) {
    main>div{    
        display: flex;
        flex-direction: column-reverse;
    }
    
    nav{
        width: 100%;
    }

    #contents{
        width: 100%;
    }

    #mokuji{
        margin: 0 auto;
        max-width: 800px;
    }
}

html{
    --theme_color: #18EBF9;
    font-family:sans-serif;
}

body{
    background-image: url(/images/favicon.png);
    background-size: 100px auto;
    background-repeat: space;
    background-color: #FFFE;
    background-blend-mode:lighten;
}

main{
    padding: 5px 20px;
    overflow: auto;
}

hr{
    border-color: var(--theme_color);
    border-width: thin;
    border-style: dashed;
}

#contents>div{
    margin: 0 auto;
    max-width: 800px;
}

#contents,nav{
    float: left;
    padding: 5px;
}

a{
    text-decoration: underline;
    color: black;
}

p,li{
    font-size: 20px;
}

li{
    list-style-position: inside;
}

p,#kakerudo{
    line-height: 2;
    margin: 10px 0px;
}

a:hover{
    color: var(--theme_color);
}

main h1,h2,h3,h4,ol,ul{
    margin: 0;
}

ol,ul{
    padding: 0;
}

/*メインコンテンツ*/
main>h2{    
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    color: var(--theme_color);
}

#contents h1{
    font-size: 30px;
    text-align: center;
    border-bottom: 5px solid;
    font-weight: bold;
    margin: 10px 0;
    color: var(--theme_color);
}

#contents h2{
    font-size: 27px;
    color: var(--theme_color);
    border-left: 5px solid var(--theme_color);
    padding-left: 5px;
    margin: 8px 0;
}

#contents h3{
    color: var(--theme_color);
    font-size: 25px;
    margin: 5px 0px;
}

.bushoList li{
    list-style-type: circle; 
    padding-left: 10px;
}

.shocho{
    color: var(--theme_color);
    font-weight: bold;
}

.contentsList{
    width: 100%;
    overflow-x: scroll;
    display: flex;
    margin: 10px;
    height: 352px;
}

.iframeContents{
    float: left;
}

iframe,img{
    flex-shrink:0;
    margin: 10px 10px 10px 0;
}

iframe:last-child,img:last-child{
    margin-right: 0;
}

#kakerudo{
    overflow: auto;
}

#kakerudo li{
    float: left;
    width: 10%;
    text-align: center;
    list-style: none;
}

#kakerudoMe{
    background-color: var(--theme_color);
    color: white;
    font-weight: bold;
}

#rank_title{
    text-align: center;
    font-weight: bold;
    color: var(--theme_color);
}

#rankList li{
    list-style-type: decimal; 
    padding-left: 10px;
}

/*目次*/
#mokuji h1{
    font-size: 25px;
    font-weight: bold;
    color: var(--theme_color);
}

#mokuji li{
    list-style-type: ">";
}

#mokuji li::marker{
    font-size: 80%;
}